<ion-view view-title="Saved Restaurants" ng-controller="SavedController as vm">
  <ion-content class="center">

    <div class="card" ng-repeat="result in vm.finalResults">
      <div class="item item-text-wrap">
        <h2>{{ result.name }}</h2>
        <h3>Address:{{ result.address }}</h3>
        <img ng-src="{{result.image}}" alt="{{result.name}}" />
      </div>
    </div>
    <div class="homeButton" >
      <button class="button button-positive" ng-click="vm.viewHome()">
        Back to Results
      </button>
    </div>
  </ion-content>
</ion-view>
